@font-face{
    font-family: MomcakeBold;
    src: url("../MomcakeBold-WyonA.otf");
}

body
{
    background-color: #f0f1f3;
}

.mainPageImage
{
    width: 7.5rem;
    height: 10rem;
}

.EducationTitle
{
    font-family: MomcakeBold;
    font-size: 5.625rem;
    position: absolute;
    left: 17.5rem;
    top: 5.625rem;
}

.EducationTitleUnderLine
{
    height:0.3125rem;
    border-width:0;
    color:#555;
    background-color:#555;
    position: absolute;
    left: 20rem;
    top: 11.25rem;
    width: 31.25rem;
}

.EducationTitleUnderLine2
{
    height:0.3125rem;
    border-width:0;
    color:#555;
    background-color:#555;
    position: absolute;
    left: 20rem;
    top: 17.5rem;
    width: 31.25rem;
}


.seperation
{
    text-align: center;
    font-family: MomcakeBold;
    margin-left: -0.625rem;
    margin-top: 0.5rem;
    color: white;
}


.seperation:hover
{
    text-align: center;
    font-family: MomcakeBold;
    margin-left: -0.625rem;
    margin-top: 0.5rem;
    color: red;
}

.square 
{
    height: 60.5625rem;
    width: 7.5rem;
    background-color: #555;
}

.Icon
{
    width: 3.125rem;
}

.linkedIn
{
    position: absolute;
    left: 0.9375rem;
    bottom: 2.1875rem;
    width: 1.875rem;
}

.gitHub
{
    position: absolute;
    width: 1.875rem;
    bottom: 2.1875rem;
    left: 4.375rem;
}

.arrowDown
{
    position: absolute;
    bottom: 5rem;
    left: 2.3125rem;
    width: 1.875rem;
}

.copyright
{
    font-family: MomcakeBold;
    font-size: 0.8125rem;
    color: white;
}

.moveLine
{
    position: absolute;
    width: 7.1875rem;
    top: 5.625rem;
    left: 0.1875rem;
}

table.GCSE
{
    position: absolute;
    bottom: 11.25rem;
    left: 15.625rem;
    font-family: MomcakeBold;
    font-size: 1.25rem;
    border-collapse: collapse;
    width: 37.5rem;
}
  
td, th
{
    border: 0.0625rem solid #555;
    text-align: left;
    padding: 0.5rem;
}

.GCSEHeader
{
    position: absolute;
    bottom: 37.5rem;
    left: 15.625rem;
    font-family: MomcakeBold;
    font-size: 2.1875rem;
}

.GCSEUnderline
{
    height:0.25rem;
    border-width:0;
    color:#555;
    background-color:#555;
    position: absolute;
    left: 16.875rem;
    top: 22.8125rem;
    width: 9.375rem;
}

table.ALevel
{
    position: absolute;
    bottom: 25.875rem;
    left: 62.5rem;
    font-family: MomcakeBold;
    font-size: 1.25rem;
    border-collapse: collapse;
    width: 37.5rem;
}

td, th
{
    border: 0.0625rem solid #555;
    text-align: left;
    padding: 0.5rem;
}

.ALevelUnderline
{
    height:0.25rem;
    border-width:0;
    color:#555;
    background-color:#555;
    position: absolute;
    left: 64.0625rem;
    top: 22.8125rem;
    width: 11.5625rem;
}

.ALevelHeader
{
    position: absolute;
    bottom: 37.5rem;
    left: 62.5rem;
    font-family: MomcakeBold;
    font-size: 2.1875rem;
}

.buttons
{
    background-color: #f0f1f3;
    border: 0.125rem solid black;  
    border-radius: 0.5rem;
    font-family: MomcakeBold;
    position: absolute;
    bottom: 4.6875rem;
    left: 0.5625rem;
    width: 6.25rem;
    height: 2.5rem;
}

footer
{
    position: absolute;
    bottom: 6.25rem;
}
