@font-face{
    font-family: MomcakeBold;
    src: url("../MomcakeBold-WyonA.otf");
}

body
{
    background-color: #f0f1f3;
}

.BlogPage
{
    font-family: MomcakeBold;
    font-size: 5.625rem;
    position: absolute;
    left: 17.5rem;
    top: 5.625rem;
}

.BlogPageUnderLine
{
    height:0.3125rem;
    border-width:0;
    color:#555;
    background-color:#555;
    position: absolute;
    left: 20rem;
    top: 11.25rem;
    width: 21.25rem;
}

.keepFixed
{
    position: fixed;
}

.mainPageImage
{
    width: 7.5rem;
    height: 10rem;
}

.seperation
{
    text-align: center;
    font-family: MomcakeBold;
    margin-left: -0.625rem;
    margin-top: 0.625rem;
    color: white;
}


.seperation:hover
{
    text-align: center;
    font-family: MomcakeBold;
    margin-left: -0.625rem;
    margin-top: 0.625rem;
    color: red;
}

.square 
{
    height: 100vh;
    width: 7.5rem;
    background-color: #555;
}

.aboutMe
{
    font-size: 1.375rem;
    font-family: MomcakeBold;
    position: absolute;
    left: 13.75rem;
    bottom: 22.5rem;
}

.Icon
{
    width: 3.125rem;
}

.title
{
    font-size: 5rem;
    font-family: MomcakeBold;
    position: absolute;
    left: 13.75rem;
    bottom: 34.375rem;
}

.linkedIn
{
    position: absolute;
    left: 0.9375rem;
    bottom: 2.1875rem;
    width: 1.875rem;
}

.gitHub
{
    position: absolute;
    width: 1.875rem;
    bottom: 2.1875rem;
    left: 4.375rem;
}

.arrowDown
{
    position: absolute;
    bottom: 5rem;
    left: 2.3125rem;
    width: 1.875rem;
}

.copyright
{
    font-family: MomcakeBold;
    font-size: 0.8125rem;
    color: white;
}

.moveLine
{
    position: absolute;
    width: 7.1875rem;
    top: 5.625rem;
    left: 0.1875rem;
}

.buttons
{
    background-color: #f0f1f3;
    border: 0.125rem solid black;  
    border-radius: 0.5rem;
    font-family: MomcakeBold;
    position: absolute;
    bottom: 4.6875rem;
    left: 0.5625rem;
    width: 6.25rem;
    height: 2.5rem;
    position: fixed;
}

.buttonsLogout
{
    background-color: #f0f1f3;
    border: 0.125rem solid black;  
    border-radius: 0.5rem;
    font-family: MomcakeBold;
    position: absolute;
    bottom: 1.5625rem;
    left: 109.375rem;
    width: 6.25rem;
    height: 2.5rem;
}

.blogs
{
    border: 0.9375rem solid #e4e4e4;
    background-color: #e4e4e4;
    position: relative;
    top:15.625rem;
    font-family: MomcakeBold;
    margin-left:31.25rem;
    margin-right:18.75rem;
    margin-bottom: 30px;
}

.title1
{
    font-size: 1.875rem;
}

.date
{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

footer
{
    position: absolute;
    bottom: 6.25rem;
}
